$black: #212121;
$dark-gray: #6c6c6c;
$red: #e53935;

.contact {
	width: 225px;
	&__caption {
		letter-spacing: 1.2px;
	}
	&__text {
		letter-spacing: -0.2px;
		margin: 14px 0 22px;
	}
	&__item {
		letter-spacing: -0.1px;
	}
	&__link {
		letter-spacing: -0.3px;
		color: $black;
		&:hover {
			color: $red;
			transition: 0.2s;
		}
	}
}
