.contact {
  width: 225px; }
  .contact__caption {
    letter-spacing: 1.2px; }
  .contact__text {
    margin: 14px 0 22px;
    letter-spacing: -.2px; }
  .contact__item {
    letter-spacing: -.1px; }
  .contact__link {
    letter-spacing: -.3px;
    color: #212121; }
    .contact__link:hover {
      transition: .2s;
      color: #e53935; }
