body {
  font-family: montserrat; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.container {
  width: 1366px;
  margin: 0 auto; }

.header, .footer, section {
  padding: 0 98px; }
