body {
  font-family: montserrat; }

p {
  font-weight: 300; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  vertical-align: bottom; }

button:hover {
  cursor: pointer; }

.container {
  width: 1366px;
  margin: 0 auto; }
