.copy {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .copy__link {
    font-size: 0;
    display: block;
    min-width: 28px;
    min-height: 28px; }
  .copy__list {
    display: flex;
    width: 129px;
    margin: 2px 26px 0 0;
    justify-content: space-between; }
  .copy__text {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    letter-spacing: .4px; }
