.nav-sked {
  margin-bottom: 63px; }
  .nav-sked__list {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
  .nav-sked__caption {
    font-size: 36px;
    margin: 0;
    letter-spacing: -1.2px;
    color: #212121; }
