.info {
  width: 425px; }
  .info__caption {
    letter-spacing: 1.4px; }
  .info__box {
    display: flex;
    margin-top: -2px;
    justify-content: space-between; }
  .info__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #212121; }
    .info__link:hover {
      color: #6c6c6c; }
