@font-face {
  font-family: montserrat;
  src: url("../font/montserrat/montserrat-bold.eot");
  src: url("../font/montserrat/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../font/montserrat/montserrat-bold.woff2") format("woff2"), url("../font/montserrat/montserrat-bold.woff") format("woff"), url("../font/montserrat/montserrat-bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: montserrat;
  src: url("../font/montserrat/montserrat-light.eot");
  src: url("../font/montserrat/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../font/montserrat/montserrat-light.woff2") format("woff2"), url("../font/montserrat/montserrat-light.woff") format("woff"), url("../font/montserrat/montserrat-light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: montserrat;
  src: url("../font/montserrat/montserrat-thin.eot");
  src: url("../font/montserrat/montserrat-thin.eot?#iefix") format("embedded-opentype"), url("../font/montserrat/montserrat-thin.woff2") format("woff2"), url("../font/montserrat/montserrat-thin.woff") format("woff"), url("../font/montserrat/montserrat-thin.ttf") format("truetype");
  font-weight: 100; }
@font-face {
  font-family: gotham;
  src: url("../font/gotham/gotham-light.eot");
  src: url("../font/gotham/gotham-light.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-light.woff2") format("woff2"), url("../font/gotham/gotham-light.woff") format("woff"), url("../font/gotham/gotham-light.ttf") format("truetype");
  font-weight: 300; }
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption, figure, main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b, strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio, video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template, [hidden] {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
body {
  font-family: montserrat; }

p {
  font-weight: 300; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  vertical-align: bottom; }

button:hover {
  cursor: pointer; }

.container {
  width: 1366px;
  margin: 0 auto; }

.order {
  font-size: 18px;
  font-weight: 700;
  line-height: 47px;
  display: block;
  width: 182px;
  height: 46px;
  padding-left: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #6c6c6c;
  border-radius: 23px;
  background: url(../img/svg/arrow.svg) no-repeat 85.4% 50%;
  background-color: #fff;
  -webkit-box-shadow: 1px 5px 2px 0 rgba(33, 33, 33, 0.35);
          box-shadow: 1px 5px 2px 0 rgba(33, 33, 33, 0.35); }
  .order:hover {
    -webkit-transition: .2s;
    transition: .2s;
    color: #212121;
    -webkit-box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
            box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35); }

.order_color {
  font-size: 22px;
  line-height: 70px;
  width: 350px;
  height: 70px;
  margin-bottom: 44px;
  padding-left: 160px;
  letter-spacing: 3.7px;
  color: #fff;
  border-radius: 35px;
  background: url(../img/svg/arrow-w.svg) no-repeat 67.5% 50%;
  background-color: #f44336; }

.explore {
  font-size: 18px;
  font-weight: 700;
  padding-right: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #6c6c6c;
  background: url("../img/svg/arrow.svg") no-repeat 100.8% 44%; }
  .explore:hover {
    color: #212121; }

.sked__link:hover,
.promo__link:hover,
.catalog__link:hover,
.slider-prod__link:hover {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: .5; }

.header {
  position: relative;
  min-height: 361px;
  background-color: #f5f5f5; }
  .header__img {
    position: relative; }
  .header__box {
    position: absolute;
    top: 344px;
    width: 100%;
    height: 459px; }
  .header__caption {
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    position: absolute;
    bottom: 0;
    left: 98px;
    letter-spacing: -2.3px;
    color: #212121; }

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding: 0 166px 0 98px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav__logo-link {
    display: block;
    width: 185px;
    height: 24px;
    margin-bottom: 3px;
    background: url("../img/svg/logo.svg") no-repeat; }
  .nav__list {
    display: inherit;
    width: 535px;
    margin-left: 352px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .nav__item {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20%; }
  .nav__link {
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #8c8c8c; }
    .nav__link:hover {
      font-weight: 700;
      color: #212121; }
      .nav__link:hover + .nav__border {
        opacity: 1; }
  .nav__border {
    width: 74px;
    height: 3px;
    margin: 0 auto;
    margin-top: 7px;
    opacity: 0;
    background-color: #212121; }
  .nav__search {
    margin-left: 5px; }
  .nav__input {
    display: none; }
  .nav__btn {
    padding: 0;
    border: 0;
    background: none; }
    .nav__btn::before {
      content: url("../img/svg/search.svg"); }

.nav_position {
  position: static;
  -webkit-box-shadow: none;
          box-shadow: none; }

.catalog {
  padding: 66px 98px 140px; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__item {
    margin-bottom: 30px; }
  .catalog__refresh {
    display: block;
    width: 29px;
    height: 29px;
    margin: 0 auto;
    margin-top: 40px;
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    background: url("../img/svg/refresh.svg") no-repeat; }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.location {
  padding: 70px 98px 122px; }
  .location__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .location__item {
    font-size: 14px;
    width: 368px;
    padding: 42px 0 62px;
    text-align: center;
    opacity: .8;
    color: #212121;
    border: 1px solid #9c9c9c; }
    .location__item:hover {
      opacity: 1; }
  .location__marker {
    display: block;
    width: 51px;
    height: 83px;
    margin: 0 auto;
    background: url("../img/svg/map-marker.svg") no-repeat; }
  .location__caption {
    font-size: 22px;
    margin: 0;
    margin-bottom: -1px;
    letter-spacing: -.6px;
    text-transform: uppercase; }
  .location__title {
    margin-bottom: 2px;
    letter-spacing: -1.3px; }
  .location__link {
    letter-spacing: -.1px;
    color: inherit; }
    .location__link:hover {
      color: #6c6c6c; }

.slider {
  margin-left: 98px; }
  .slider__caption {
    font-size: 18px;
    line-height: 47px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #43a047; }
  .slider__title {
    font-size: 57px;
    font-weight: 100;
    line-height: 33px;
    margin: 0;
    text-transform: uppercase;
    color: #212121; }
  .slider__text {
    font-size: 14px;
    line-height: 25px;
    max-width: 468px;
    margin: 31px 0 25px;
    letter-spacing: -.1px;
    color: #6c6c6c; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 72px 98px 114px; }
  .product__box {
    padding-left: 56px; }
  .product__caption {
    font-size: 36px;
    margin: 42px 0 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #212121; }
  .product__price {
    font-family: gotham;
    font-size: 36px;
    font-weight: 300;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    color: #212121;
    padding-left: 5px;
    letter-spacing: -1.7px; }
  .product__price-num {
    font-size: 72px; }
  .product__title, .product__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24.01px;
    max-width: 501px;
    padding-left: 5px;
    letter-spacing: .3px;
    color: #212121; }
  .product__title {
    margin-bottom: 0; }
  .product__text {
    margin-top: 13px; }

.slider-prod__box {
  padding: 11px 150px; }
.slider-prod__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.slider-prod__btn {
  margin: 0;
  padding: 0;
  border: none; }
  .slider-prod__btn:hover {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: .5; }

.marks {
  position: absolute;
  bottom: 22px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 40px;
  margin-left: -65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .marks__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .marks__btn {
    width: 30px;
    height: 30px;
    opacity: .2;
    border: 0;
    border-radius: 50%;
    outline: none;
    background-color: #8c8c8c; }
    .marks__btn:hover {
      width: 100%;
      height: 100%;
      opacity: 1;
      background-color: #212121; }

.preview {
  padding: 114px 98px 120px; }
  .preview__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .preview__item {
    position: relative; }
    .preview__item:hover .preview__box {
      display: block; }
  .preview__box {
    position: absolute;
    top: 0;
    display: none;
    width: 268px;
    height: 268px;
    opacity: .9;
    border: 1px solid #9c9c9c;
    background-color: #fff; }
  .preview__link {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-top: 61px;
    margin-bottom: 16px;
    border-radius: 50%;
    background: url("../img/svg/arrow-big.svg") no-repeat 49% 50%;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, 0.35);
            box-shadow: 1px 1px 1px 1px rgba(33, 33, 33, 0.35); }
    .preview__link:hover {
      -webkit-transition: .2s;
      transition: .2s;
      -webkit-box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
              box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35); }
  .preview__caption {
    font-size: 22px;
    margin: 0;
    text-align: center;
    letter-spacing: -.6px;
    color: #212121; }
  .preview__text {
    font-size: 14px;
    line-height: 21.91px;
    max-width: 214px;
    margin: 14px auto;
    text-align: center;
    color: #6c6c6c; }

.nav-control {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  color: #6c6c6c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav-control__list::after {
    display: block;
    width: 300px;
    height: 1px;
    content: '';
    background-color: #6c6c6c; }
  .nav-control__item {
    display: inline-block; }
  .nav-control__btn {
    font-size: 35px;
    font-weight: inherit;
    padding-bottom: 11px;
    letter-spacing: 2.0px;
    color: inherit;
    border: 0;
    border-bottom: 2px solid transparent;
    background-color: transparent; }
    .nav-control__btn:hover {
      color: #212121;
      border-color: #212121; }

.nav-control__btn_lg {
  font-size: 18px;
  padding-bottom: 15px;
  padding-left: 18.5px;
  text-transform: uppercase; }

.nav-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  margin-top: 29px;
  background-color: #f4f4f4; }
  .nav-product__list {
    display: inherit;
    width: 647px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav-product__btn {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    letter-spacing: 2.0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6c6c6c;
    border: 0;
    background-color: transparent; }
    .nav-product__btn:hover {
      color: #212121; }

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .promo__item {
    position: relative; }
  .promo__link:hover {
    -webkit-transition: .2s;
    transition: .2s;
    opacity: .5; }
  .promo__box {
    position: absolute;
    top: 225px;
    left: 50px; }
  .promo__title {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #1e88e5; }
  .promo__caption {
    font-size: 36px;
    margin: 9px 0;
    letter-spacing: -1px;
    color: #212121; }
  .promo__text {
    font-size: 14px;
    line-height: 24.04px;
    max-width: 382px;
    margin: 10px 0 28px;
    letter-spacing: -.1px;
    color: #6c6c6c; }

.sked {
  padding: 114px 98px 90px; }
  .sked__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .sked__item {
    margin-bottom: 30px; }

.nav-sked {
  margin-bottom: 63px; }
  .nav-sked__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .nav-sked__caption {
    font-size: 36px;
    margin: 0;
    letter-spacing: -1.2px;
    color: #212121; }

.hot {
  position: relative; }
  .hot__box {
    position: absolute;
    top: 258px;
    width: 100%;
    height: 544px; }

.exclusive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 98px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .exclusive__list {
    display: inherit;
    width: 570px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit; }

.slider__caption_last {
  color: #e53935; }

.promo__box_last {
  top: 183px;
  left: 30px; }
.promo__text_last {
  max-width: 339px; }

.app {
  padding: 122px 98px 120px;
  background: url("../img/back-img.jpg") no-repeat; }
  .app__caption {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #6c6c6c; }
  .app__title {
    font-size: 62px;
    font-weight: 100;
    width: 415px;
    margin: 0;
    margin-top: 7px;
    letter-spacing: -4.4px;
    text-transform: uppercase;
    color: #212121; }
  .app__text {
    font-size: 22px;
    margin: 7px 0;
    letter-spacing: -.3px;
    color: #6c6c6c; }
  .app__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
    margin-top: 33px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.footer {
  padding: 105px 98px 29px;
  background-color: #f7f7f7; }
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 58px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.contact__caption,
.info__caption,
.feedback__caption,
.copy__text {
  font-size: 18px;
  text-transform: uppercase;
  color: #6c6c6c; }

.contact__caption,
.info__caption,
.feedback__caption {
  margin-bottom: 15px; }

.contact__text,
.contact__item,
.feedback__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #212121; }

.contact {
  width: 225px; }
  .contact__caption {
    letter-spacing: 1.2px; }
  .contact__text {
    margin: 14px 0 22px;
    letter-spacing: -.2px; }
  .contact__item {
    letter-spacing: -.1px; }
  .contact__link {
    letter-spacing: -.3px;
    color: #212121; }
    .contact__link:hover {
      -webkit-transition: .2s;
      transition: .2s;
      color: #e53935; }

.info {
  width: 425px; }
  .info__caption {
    letter-spacing: 1.4px; }
  .info__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -2px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .info__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: .4px;
    text-transform: uppercase;
    color: #212121; }
    .info__link:hover {
      color: #6c6c6c; }

.feedback {
  width: 370px; }
  .feedback__caption {
    letter-spacing: 1.4px; }
  .feedback__text {
    margin-bottom: 23px;
    letter-spacing: -.1px; }

.search {
  min-height: 44px;
  border: 1px solid #d9dee1;
  background-color: #fff; }
  .search__text {
    width: 308px;
    min-height: 44px;
    padding-left: 19px;
    vertical-align: middle;
    border: none;
    outline: none;
    -webkit-appearance: none; }
    .search__text::-moz-placeholder {
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: .5px;
      color: #6c6c6c; }
    .search__text::-webkit-input-placeholder {
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: .5px;
      color: #6c6c6c; }
  .search__btn {
    width: 25.73px;
    height: 26.73px;
    vertical-align: middle;
    border: none;
    background: url(../img/svg/airplane.svg) no-repeat 50% 50%; }
    .search__btn:hover {
      cursor: pointer; }

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .copy__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 129px;
    margin: 2px 26px 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .copy__text {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    letter-spacing: .4px; }
