@import 'font/font';
@import 'normalize/normalize';
@import 'blocks/container/container';
@import 'buttons/order/order';
@import 'buttons/order/_color/order_color';
@import 'buttons/explore/explore';
@import 'buttons/img-link/img-link';
@import 'blocks/header/header';
@import 'blocks/nav/nav';
@import 'blocks/nav/_position/nav_position';
@import 'blocks/catalog/catalog';
@import 'blocks/location/location';
@import 'blocks/slider/slider';
@import 'blocks/slider/_last/slider_last';
@import 'blocks/slider/__box/_last/slider__box_last';
@import 'blocks/product/product';
@import 'blocks/slider-prod/slider-prod';
@import 'blocks/marks/marks';
@import 'blocks/preview/preview';
@import 'blocks/nav-control/nav-control';
@import 'blocks/nav-control/__btn/_lg/nav-control__btn_lg';
@import 'blocks/nav-product/nav-product';
@import 'blocks/promo/promo';
@import 'blocks/sked/sked';
@import 'blocks/nav-sked/nav-sked';
@import 'blocks/exclusive/exclusive';
@import 'blocks/promo/__box/_last/promo__box_last';
@import 'blocks/promo/__text/_last/promo__text_last';
@import 'blocks/app/app';
@import 'blocks/footer/footer';
@import 'blocks/contact/contact';
@import 'blocks/info/info';
@import 'blocks/feedback/feedback';
@import 'blocks/search/search';
@import 'blocks/copy/copy';
@import 'blocks/copy/__link/_facebook/copy__link_facebook';
@import 'blocks/copy/__link/_google/copy__link_google';
@import 'blocks/copy/__link/_pinterest/copy__link_pinterest';
@import 'blocks/copy/__link/_twitter/copy__link_twitter';
$black: #212121;
$light-gray: #9c9c9c;
$gray: #8c8c8c;
$blue: #1e88e5;
$dark-gray: #6c6c6c;
$green: #43a047;
$red: #e53935;
