$dark-gray: #6c6c6c;
.search {
	width: 369px;
	min-height: 44px;
	border: 1px solid #d9dee1;
	background-color: #fff;
	&__text {
		width: 308px;
		min-height: 44px;
		padding-left: 19px;
		border: none;
		outline: none;
		-webkit-appearance: none;
		vertical-align: middle;
		&::-moz-placeholder {
			color: $dark-gray;
				font-size: 14px;
				font-weight: 300;
				line-height: 22px;
				letter-spacing: 0.5px;
		}
		&::-webkit-input-placeholder {
			color: $dark-gray;
				font-size: 14px;
				font-weight: 300;
				line-height: 22px;
				letter-spacing: 0.5px;
		}
	}
	&__btn {
		vertical-align: middle;
		width: 25.73px;
		height: 26.73px;
		border: none;
		background: url(../img/svg/airplane.svg) no-repeat 50% 50%;
		&:hover {
			cursor: pointer;
		}
	}
}
