$dark-gray: #6c6c6c;
.search {
	min-height: 44px;
	border: 1px solid #d9dee1;
	background-color: #fff;
	&__text {
		width: 308px;
		min-height: 44px;
		padding-left: 19px;
		vertical-align: middle;
		border: none;
		outline: none;

		-webkit-appearance: none;
		&::-moz-placeholder {
			font-size: 14px;
			font-weight: 300;
			line-height: 22px;
			letter-spacing: .5px;
			color: $dark-gray;
		}
		&::-webkit-input-placeholder {
			font-size: 14px;
			font-weight: 300;
			line-height: 22px;
			letter-spacing: .5px;
			color: $dark-gray;
		}
	}
	&__btn {
		width: 25.73px;
		height: 26.73px;
		vertical-align: middle;
		border: none;
		background: url(../img/svg/airplane.svg) no-repeat 50% 50%;
		&:hover {
			cursor: pointer;
		}
	}
}
