$black: #212121;
$dark-gray: #6c6c6c;
.order {
	font-size: 18px;
	font-weight: 700;
	line-height: 47px;
	display: block;
	width: 182px;
	// width: 212px;
	// text-align: center;
	height: 46px;
	padding-left: 30px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: $dark-gray;
	border-radius: 23px;
	background: url(../img/svg/arrow.svg) no-repeat 85.4% 50%;
	background-color: #fff;
	box-shadow: 1px 5px 2px 0 rgba(33, 33, 33, .35);
	&:hover {
		transition: .2s;
		color: $black;
		box-shadow: 0 2px 5px 1px rgba(33, 33, 33, .35);
	}
}
