.exclusive {
  display: flex;
  padding: 120px 98px;
  justify-content: space-between; }
  .exclusive__list {
    display: inherit;
    width: 570px;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: inherit; }
