.nav {
  position: fixed;
  z-index: 1;
  display: flex;
  height: 90px;
  padding: 0 166px 0 98px;
  background-color: #fff;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
  align-items: flex-end;
  justify-content: space-between; }
  .nav__logo-link {
    display: block;
    width: 185px;
    height: 24px;
    margin-bottom: 3px;
    background: url("../img/svg/logo.svg") no-repeat; }
  .nav__list {
    display: inherit;
    width: 535px;
    margin-left: 352px;
    justify-content: space-around; }
  .nav__item {
    display: inherit;
    flex-direction: column;
    width: 20%;
    text-align: center; }
  .nav__link {
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #8c8c8c; }
    .nav__link::after {
      display: block;
      width: 74px;
      height: 3px;
      margin: 7px auto 0 auto;
      content: '';
      opacity: 0;
      background-color: #212121; }
    .nav__link:hover {
      font-weight: 700;
      color: #212121; }
      .nav__link:hover::after {
        opacity: 1; }
  .nav__border {
    width: 74px;
    height: 3px;
    margin: 0 auto;
    margin-top: 7px;
    opacity: 0;
    background-color: #212121; }
  .nav__search {
    margin-left: 5px; }
  .nav__input {
    display: none; }
  .nav__btn {
    padding: 0;
    border: 0;
    background: none; }
    .nav__btn::before {
      content: url("../img/svg/search.svg"); }
