$gray: #8c8c8c;
$black: #212121;

.nav {
	height: 91px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	// border: 1px solid black;
	&__logo {
		margin: 0px 0 5px -1px;
	}
	&__box {
		display: flex;
		align-items: center;
		margin-right: 68px;
	}
	&__list {
		width: 503px;
		display: inherit;
		justify-content: space-between;
	}
	&__item {
		display: inherit;
		flex-direction: column;
	}
	&__link {
		color: $gray;
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		margin: 0 auto;
		&:hover {
			color: $black;
			font-weight: 700;
			+.nav__border {
				opacity: 1;
			}
		}
	}
	&__border {
		opacity: 0;
		margin: 0 auto;
		margin-top: 7px;
		width: 73px;
		height: 3px;
		background-color: $black;
	}
	&__search {
		margin-left: 19px;
	}
	&__input {
		display: none;
	}
	&__btn {
		padding: 0;
		border: 0;
		background: none;
		&::before {
			content: url('../img/svg/search.svg'); //Поставить спрайт
		}
	}
}
