$gray: #8c8c8c;
$black: #212121;

.nav {
	height: 90px;
	// height: 13.2%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color:#fff;
	box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);

	// display: none;
	&::before {
		content: url('../img/svg/logo.svg');
		position: absolute;
		left: 98px;
		// left: 7.62%;
	}
	&__list {
		width: 535px;
		// width: 41.72%;
		display: inherit;
		justify-content: space-between;
		margin-right: 5px;
		// margin-right: 0.4%;
	}
	&__item {
		width: 20%;
		display: inherit;
		flex-direction: column;
	}
	&__link {
		color: $gray;
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		margin: 0 auto;
		&:hover {
			color: $black;
			font-weight: 700;
			+.nav__border {
				opacity: 1;
			}
		}
	}
	&__border {
		opacity: 0;
		margin: 0 auto;
		margin-top: 7px;
		// margin-top: 5.7%;
		width: 74px;
		// width: 69%;
		height: 3px;
		background-color: $black;
	}
	&__search {
		margin-right: 80px;
		// margin-right: 6.3%;
	}
	&__input {
		display: none;
	}
	&__btn {
		padding: 0;
		border: 0;
		background: none;
		&::before {
			content: url('../img/svg/search.svg');
			// Сделать как с полем ввода в конце,
			// только скрыть поле ввода до наведения
		}
	}
}
