$gray: #8c8c8c;
$black: #212121;

.nav {
	height: 91px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	// border: 1px solid black;
	&__logo {
		margin: 0px 0 5px -1px;
	}
	&__box {
		display: inherit;
		margin-right: 68px;
	}
	&__list {
		width: 516px;
		display: flex;
		justify-content: space-around;
	}
	&__link {
		color: $gray;
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		&:hover {
			color: $black;
			font-weight: 700;
		}
	}
	&__search {
		margin-left: 8px;
	}
	&__input {
		display: none;
	}
	&__btn {
		padding: 0;
		border: 0;
		background: none;;
		&::before {
			content: url('../img/svg/search.svg'); //Поставить спрайт
		}
	}
}
