.nav {
  height: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
  padding: 0 166px 0 98px; }
  .nav__logo-link {
    display: block;
    background: url("../img/svg/logo.svg") no-repeat;
    width: 185px;
    height: 24px;
    margin-bottom: 3px; }
  .nav__list {
    width: 535px;
    display: inherit;
    justify-content: space-around;
    margin-left: 352px; }
  .nav__item {
    width: 20%;
    display: inherit;
    flex-direction: column; }
  .nav__link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 0 auto; }
    .nav__link:hover {
      color: #212121;
      font-weight: 700; }
      .nav__link:hover + .nav__border {
        opacity: 1; }
  .nav__border {
    opacity: 0;
    margin: 0 auto;
    margin-top: 7px;
    width: 74px;
    height: 3px;
    background-color: #212121; }
  .nav__search {
    margin-left: 5px; }
  .nav__input {
    display: none; }
  .nav__btn {
    padding: 0;
    border: 0;
    background: none; }
    .nav__btn::before {
      content: url("../img/svg/search.svg"); }
