.nav {
  height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .nav__logo {
    margin: 0px 0 5px -1px; }
  .nav__box {
    display: inherit;
    margin-right: 68px; }
  .nav__list {
    width: 516px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .nav__link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px; }
    .nav__link:hover {
      color: #212121;
      font-weight: 700; }
  .nav__search {
    margin-left: 8px; }
  .nav__input {
    display: none; }
  .nav__btn {
    padding: 0;
    border: 0;
    background: none; }
    .nav__btn::before {
      content: url("../img/svg/search.svg"); }
