$black: #212121;
$light-gray: #9c9c9c;
$white: #fff;
$gray: #8c8c8c;
$blue: #1e88e5;
$dark-gray: #6c6c6c;

.nav-control {
	font-weight: 700;
	display: flex;
	margin-bottom: 50px;
	color: $dark-gray;

	align-items: center;
	justify-content: space-between;
	&__list {
		&::after {
			display: block;
			width: 300px;
			height: 1px;
			content: '';
			background-color: $dark-gray;
		}
	}
	&__item {
		display: inline-block;
	}
	&__btn {
		font-size: 35px;
		font-weight: inherit;
		padding-bottom: 11px;
		letter-spacing: 2.0px;
		color: inherit;
		border: 0;
		border-bottom: 2px solid transparent; //Доработать ползунок
		background-color: transparent;
		&:hover {
			color: $black;
			border-color: $black;
		}
	}
}
