.footer {
  background-color: #f7f7f7;
  padding: 105px 98px 27px; }
  .footer__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px; }

.contact__caption,
.info__caption,
.feedback__caption,
.copy__text {
  color: #6c6c6c;
  font-size: 18px;
  text-transform: uppercase; }

.contact__text,
.contact__item,
.feedback__text {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px; }
