$black: #212121;
$dark-gray: #6c6c6c;
$footer:#f7f7f7;

.footer {
	background-color: $footer;
	padding: 105px 98px 27px;
	&__box {
		display: flex;
		justify-content: space-between;
		margin-bottom: 58px;
	}
}

.contact__caption,
.info__caption,
.feedback__caption,
.copy__text {
		color: $dark-gray;
		font-size: 18px;
		text-transform: uppercase;
}
.contact__caption,
.info__caption,
.feedback__caption {
	margin-bottom: 15px;
}
.contact__text,
.contact__item,
.feedback__text {
	color: $black;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px; 
}
