$black: #212121;
$dark-gray: #6c6c6c;
$blue: #1e88e5;

.promo {
	display: flex;
	&__item {
		position: relative;
	}
	&__link {
		&:hover {
			transition: .2s;
			opacity: .5;
		}
	}
	&__box {
		position: absolute;
		top: 225px;
		left: 50px;
	}
	&__title {
		font-size: 18px;
		margin: 0;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: $blue;
	}
	&__caption {
		font-size: 36px;
		margin: 9px 0;
		letter-spacing: -1px;
		color: $black;
	}
	&__text {
		font-size: 14px;
		line-height: 24.04px;
		max-width: 382px;
		margin: 10px 0 28px;
		letter-spacing: -.1px;
		color: $dark-gray;
	}
}
