.promo {
  display: flex; }
  .promo__item {
    position: relative; }
  .promo__link:hover {
    transition: .2s;
    opacity: .5; }
  .promo__box {
    position: absolute;
    top: 225px;
    left: 50px; }
  .promo__title {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #1e88e5; }
  .promo__caption {
    font-size: 36px;
    margin: 9px 0;
    letter-spacing: -1px;
    color: #212121; }
  .promo__text {
    font-size: 14px;
    line-height: 24.04px;
    max-width: 382px;
    margin: 10px 0 28px;
    letter-spacing: -.1px;
    color: #6c6c6c; }
