.slider-prod__box {
  padding: 11px 150px; }
.slider-prod__list {
  display: flex;
  width: 230px;
  justify-content: space-between; }
.slider-prod__btn {
  margin: 0;
  padding: 0;
  border: none; }
  .slider-prod__btn:hover {
    transition: .5s;
    opacity: .5; }
