$black: #212121;
$dark-gray: #6c6c6c;

.nav-trend {
	margin-bottom: 63px;
	&__list {
		display: flex;

		align-items: flex-end;
		justify-content: space-between;
	}
	&__caption {
		font-size: 36px;
		margin: 0;
		letter-spacing: -1.2px;
		color: $black;
	}
}
