$black: #212121;
$dark-gray: #6c6c6c;

.nav-trend {
	margin-bottom: 63px;
	// margin-bottom: 5.4%;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__caption {
	color: $black;
	font-size: 36px;
	letter-spacing: -1.2px;
	margin: 0;
	}
}
