$gray: #8c8c8c;
$black: #212121;

.nav {
	position: fixed;
	z-index: 1;
	display: flex;
	height: 90px;
	padding: 0 166px 0 98px;
	background-color: #fff;
	box-shadow: 0 0 12px 1px rgba(0, 0, 0, .25);

	align-items: flex-end;
	justify-content: space-between;
	// display: none;
	&__logo-link {
		display: block;
		width: 185px;
		height: 24px;
		margin-bottom: 3px; //Тоже не порядок
		background: url('../img/svg/logo.svg') no-repeat;
	}
	&__list {
		display: inherit;
		width: 535px;
		margin-left: 352px; //Может поместить list и form в еще одну коробку?

		justify-content: space-around;
	}
	&__item {
		display: inherit;
		flex-direction: column;
		width: 20%;
		text-align: center;
	}
	&__link {
		font-size: 14px;
		font-weight: 300;
		margin: 0 auto;
		letter-spacing: 1.4px;
		text-transform: uppercase;
		color: $gray;
		&::after {
			display: block;
			width: 74px;
			height: 3px;
			margin: 7px auto 0 auto;
			content: '';
			opacity: 0;
			background-color: #212121;
		}
		&:hover {
			font-weight: 700;
			color: $black;
			&::after {
				opacity: 1;
			}
		}
	}
	&__border {
		width: 74px;
		height: 3px;
		margin: 0 auto;
		margin-top: 7px;
		opacity: 0;
		background-color: $black;
	}
	&__search {
		margin-left: 5px;
	}
	&__input {
		display: none;
	}
	&__btn {
		padding: 0;
		border: 0;
		background: none;
		&::before {
			content: url('../img/svg/search.svg');
		}
	}
}
