.catalog {
	padding: 66px 98px 140px;
	&__list {
		display: flex;

		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		margin-bottom: 30px;
	}
	&__refresh {
		display: block;
		width: 29px;
		height: 29px;
		margin: 0 auto;
		margin-top: 40px;
		animation-name: spin;
		animation-duration: .8s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		background: url('../img/svg/refresh.svg') no-repeat;
		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}
}
