.header {
  position: relative;
  min-height: 361px;
  background-color: #f5f5f5; }
  .header__caption {
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    position: absolute;
    bottom: 11.2%;
    left: 7.1%;
    margin: 0;
    letter-spacing: -2.3px;
    color: #212121; }
