.location {
  padding: 70px 98px 122px; }
  .location__list {
    display: flex;
    justify-content: space-between; }
  .location__item {
    font-size: 14px;
    width: 368px;
    padding: 42px 0 62px;
    text-align: center;
    opacity: .8;
    color: #212121;
    border: 1px solid #9c9c9c; }
    .location__item:hover {
      opacity: 1; }
  .location__marker {
    display: block;
    width: 51px;
    height: 83px;
    margin: 0 auto;
    background: url("../img/svg/map-marker.svg") no-repeat; }
  .location__caption {
    font-size: 22px;
    margin: 0;
    margin-bottom: -1px;
    letter-spacing: -.6px;
    text-transform: uppercase; }
  .location__title {
    margin-bottom: 2px;
    letter-spacing: -1.3px; }
  .location__link {
    letter-spacing: -.1px;
    color: inherit; }
    .location__link:hover {
      color: #6c6c6c; }
