$black: #212121;
$light-gray: #9c9c9c;
$gray: #8c8c8c;
$blue: #1e88e5;
$dark-gray: #6c6c6c;
$green: #43a047;
$red: #e53935;

.app {
	padding: 122px 98px 120px;
	background: url('../img/back-img.jpg') no-repeat;
	&__caption {
		font-size: 18px;
		margin: 0;
		letter-spacing: 1.1px;
		text-transform: uppercase;
		color: $dark-gray;
	}
	&__title {
		font-size: 62px;
		font-weight: 100;
		width: 415px;
		margin: 0;
		margin-top: 7px;
		letter-spacing: -4.4px;
		text-transform: uppercase;
		color: $black;
	}
	&__text {
		font-size: 22px;
		margin: 7px 0;
		letter-spacing: -.3px;
		color: $dark-gray;
	}
	&__list {
		display: flex;
		width: 280px;
		margin-top: 33px;

		justify-content: space-between;
	}
}
