.slider {
  margin-top: 266px;
  max-width: 468px; }
  .slider__caption {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 47px; }
  .slider__title {
    color: #212121;
    font-size: 57px;
    font-weight: 100;
    line-height: 33px;
    text-transform: uppercase;
    margin: 0; }
  .slider__text {
    margin: 31px 0 27px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px; }
