.slider {
  margin-left: 98px; }
  .slider__caption {
    font-size: 18px;
    line-height: 47px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #43a047; }
  .slider__title {
    font-size: 57px;
    font-weight: 100;
    line-height: 33px;
    margin: 0;
    text-transform: uppercase;
    color: #212121; }
  .slider__text {
    font-size: 14px;
    line-height: 25px;
    max-width: 468px;
    margin: 31px 0 25px;
    letter-spacing: -.1px;
    color: #6c6c6c; }
