
$black: #212121;
$green: #43a047;
$gray: #8c8c8c;
$dark-gray: #6c6c6c;
.slider {
	margin-left: 98px;
	// margin-left: 7.2%;
	&__caption {
		color: $green;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		line-height: 47px;
	}
	&__title {
		color: $black;
		font-size: 57px;
		font-weight: 100;
		line-height: 33px;
		text-transform: uppercase;
		margin: 0;
	}
	&__text {
		margin: 31px 0 25px;
		// margin: 2.4% 0 2%;
		color: $dark-gray;
		font-size: 14px;
		line-height: 25px;
		max-width: 468px;
		// max-width: 37%;
		letter-spacing: -0.1px;
	}
}
