$black: #212121;
$dark-gray: #6c6c6c;
$footer: #f7f7f7;

.footer {
	padding: 105px 98px 29px;
	background-color: $footer;
	&__box {
		display: flex;
		margin-bottom: 58px;

		justify-content: space-between;
	}
}

.contact__caption,
.info__caption,
.feedback__caption,
.copy__text {
	font-size: 18px;
	text-transform: uppercase;
	color: $dark-gray;
}
.contact__caption,
.info__caption,
.feedback__caption {
	margin-bottom: 15px;
}
.contact__text,
.contact__item,
.feedback__text {
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: $black;
}
