$black: #212121;
$dark-gray: #6c6c6c;
.explore {
	font-size: 18px;
	font-weight: 700;
	padding-right: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $dark-gray;
	background: url('../img/svg/arrow.svg') no-repeat 100.8% 44%;
	&:hover {
		color: $black;
	}
}
