@font-face {
  font-family: montserrat;
  src: url("../font/montserrat/montserrat-bold.eot");
  src: url("../font/montserrat/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../font/montserrat/montserrat-bold.woff2") format("woff2"), url("../font/montserrat/montserrat-bold.woff") format("woff"), url("../font/montserrat/montserrat-bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: montserrat;
  src: url("../font/montserrat/montserrat-light.eot");
  src: url("../font/montserrat/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../font/montserrat/montserrat-light.woff2") format("woff2"), url("../font/montserrat/montserrat-light.woff") format("woff"), url("../font/montserrat/montserrat-light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: montserrat;
  src: url("../font/montserrat/montserrat-thin.eot");
  src: url("../font/montserrat/montserrat-thin.eot?#iefix") format("embedded-opentype"), url("../font/montserrat/montserrat-thin.woff2") format("woff2"), url("../font/montserrat/montserrat-thin.woff") format("woff"), url("../font/montserrat/montserrat-thin.ttf") format("truetype");
  font-weight: 100; }
@font-face {
  font-family: gotham;
  src: url("../font/gotham/gotham-light.eot");
  src: url("../font/gotham/gotham-light.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-light.woff2") format("woff2"), url("../font/gotham/gotham-light.woff") format("woff"), url("../font/gotham/gotham-light.ttf") format("truetype");
  font-weight: 300; }
